* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-brussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Roboto", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-line-calc {
  width: 25rem;
  height: auto;
  border: 2px solid #dfdede;
}
.display-container-row {
  width: 100%;
  height: 8rem;
  padding: 1rem;
}
.display {
  width: 100%;
  height: 8rem;
  border: 2px solid #dfdede;
}
.grid-btn-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-gap: 1.5rem;
  width: 100%;
}
.grid-item {
  padding: 20px;
  text-align: center;
  width: 4.4rem;
}
.combined-column {
  grid-row: span 4;
}
.grid-main-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arithmetic {
  background-color: #dfdede;
  border: 2px solid #c5c4c4;
}
button {
  background-color: transparent;
  border: 2px solid #dfdede;
  cursor: pointer;
}
.equal {
  background-color: #5292ff;
}
.result-container {
  margin-top: -1.2rem;
}
.history {
  color: black;
  text-align: end;
  font-size: 2rem;
}
